@model HBM.Areas.Dashboard.ViewModels.NotificationsListingModel

@if (Model != null && Model.Notifications != null && Model.Notifications.Count() > 0)
{
    <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr style="text-align: center;">
                <th class="th-sm"><b> Nazwa przypomnienia</b></th>
                <th class="th-sm"><b> Treść</b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var notifications in Model.Notifications)
            {
                <tr style="text-align: center;">
                    <td>
                        @notifications.Name
                    </td>
                    <td>
                        @notifications.Content
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


