@model HBM.Areas.Dashboard.ViewModels.KindsListingModel

@if (Model != null && Model.Kinds != null && Model.Kinds.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr style="text-align: center;">
                <th><b> Nazwa kategorii</b></th>
                <th><b> Actions </b></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kinds in Model.Kinds)
            {
            <tr style="text-align: center;">
                <td>
                    @kinds.Name
                </td>
                <td>
                    <button data-href="@Url.Action("Action", "Kinds", new { ID = kinds.ID})" type="button" class="data-btn btn btn-gradient-success btn-rounded btn-fw" data-toggle="modal" data-target="#actionModal">Edytuj</button>
                    <button data-href="@Url.Action("Delete", "Kinds", new { ID = kinds.ID})" type="button" class="data-btn btn btn-gradient-danger btn-rounded btn-fw" data-toggle="modal" data-target="#actionModal">Usuń</button>
                </td>
            </tr>
            }
        </tbody>
    </table>

}

else
{
    <div class="alert alert-danger" role="alert">
        Brak danych w tabeli!
    </div>
}

