
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <img src="@Url.Action("CharterColumn")" alt="Chart" />
</div>

<div class="justify-content-md-center">
    <img src="@Url.Action("DoughnutGraph")" alt="Chart" />
</div>
